In [2]:
import pandas as pd

# Load the CSV files
tabnet = pd.read_csv("Tabnet_submission (2.4682).csv")
yunbase = pd.read_csv("Yunbase submission (2.4697).csv")

# Define RMSE values for weighted averaging
rmse_tabnet = 2.4682
rmse_yunbase = 2.4697

# Simple Average
simple_avg = tabnet.copy()
simple_avg['bg+1:00'] = (tabnet['bg+1:00'] + yunbase['bg+1:00'] + .37) / 3
simple_avg.to_csv("submission_simple_avg_decreased.csv", index=False)

# Weighted Average (inverse RMSE as weights)
weights = [1 / rmse_tabnet, 1 / rmse_yunbase]
total_weight = sum(weights)
weighted_avg = tabnet.copy()
weighted_avg['bg+1:00'] = (
    (tabnet['bg+1:00'] * weights[0] + yunbase['bg+1:00'] * weights[1]) 
    / total_weight
)
weighted_avg.to_csv("submission_weighted_avg.csv", index=False)

print("Files generated: submission_simple_avg.csv, submission_weighted_avg.csv")

Files generated: submission_simple_avg.csv, submission_weighted_avg.csv

In [2]:
simple_avg

            id    bg+1:00
0     p01_8459   8.631523
1     p01_8460   6.426180
2     p01_8461   8.082060
3     p01_8462  11.062580
4     p01_8463   6.943187
...        ...        ...
3639   p24_256   6.511417
3640   p24_257   9.955541
3641   p24_258   6.899850
3642   p24_259   8.621355
3643   p24_260   6.588781

[3644 rows x 2 columns]

In [3]:
weighted_avg

            id    bg+1:00
0     p01_8459   8.631580
1     p01_8460   6.426016
2     p01_8461   8.081993
3     p01_8462  11.062502
4     p01_8463   6.943103
...        ...        ...
3639   p24_256   6.511431
3640   p24_257   9.955468
3641   p24_258   6.899914
3642   p24_259   8.621356
3643   p24_260   6.588704

[3644 rows x 2 columns]